version: '3.8'
services:
  db:
    container_name: postgres_container
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: web-chat
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 21830818
      PGDATA: /var/lib/postgresql/data
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  pgadmin:
    container_name: pgadmin4_container
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: santimolirpo.28@gmail.com
      PGADMIN_DEFAULT_PASSWORD: 21830818
      PGADMIN_LISTEN_PORT: 80
    ports:
      - "8080:80"
    volumes:
      - pgadmin-data:/var/lib/pgadmin

    app:
      container_name: web_chat_container
      build:
        context: .
        dockerfile: Dockerfile
      restart: always
      ports:
        - "8000:8000"
      volumes:
        - .:/app
      depends_on:
        - db
        - pgadmin
volumes:
  db-data:
  pgadmin-data: